

$box-width: 24px;


.toast {
    position: fixed;
    // left: 0;
    top:50%;
    transform: translateY(-50%);
    right: .7em;
    margin: auto;
    color:$text-cl;

    max-width: 100%;
    padding:1.1rem .5rem;

    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);


    border-left:none;
    border-radius: 7px;
    
    display:grid;
    grid-template-columns: .85fr 6fr .5fr;
    gap:.65rem;
    place-items: center;
}



.check {
    position: relative;
    width:$box-width;
    height: $box-width;

}



$states : (
    "success": #78b13f,
    "error":#f13528
);


@each $type, $cl in $states {
    .toast--#{$type} {
        border-left:6px solid $cl;

        .check {
            background: $cl;
        }
    }
}

.check--success::before{
    content: '';
    position: absolute;
    height: $box-width * 0.5;
    width: $box-width * 0.25;
    border-bottom: 3px solid white;
    border-right: 3px solid white;

    left:50%;
    top:50%;
    transform: translate(-50%,-50%) rotate(45deg);
    
}

.check--error::before{
    content: '\0021';
    position: absolute;
    color:white;
    font-weight: 700;
    font-size:1.1rem;

    left:50%;
    top:50%;
    transform: translate(-50%,-50%) ;
    
}










.toast {

    span {
        font-size:.95rem;
    }
    button {
        background:none;
        border:none;
        font-size:1.6rem;
        color:$text-cl;
        cursor: pointer;
        padding:.015em .105em;
    }
}