.hero {
    height: 100vh;
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 5fr;
    // @include bg-image('/assets/bg.jpg');


}

.hero__intro {

    width: 90%;
    max-width:1700px;
    display:flex;
    gap:1rem;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;    

}

.hero__text {

    padding-top:100px;

    @include md {
        padding-top:0;
    }
    h1{
        font-size:3.8rem;
        
    }

    h4 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: .85rem;
        margin-bottom: 1.5rem;
    }

}

.hero__actions {
    display:flex;
    gap:2.75rem;
    a.btn {
        max-width:17ch;
        font-size: 1rem;
        font-weight: 700;
        @include btn-theme($text-cl);
    }
}

.hero__outer {
    margin-top:1.45rem;
    img {
        width:2.5rem;
    }
}



.hero__logo {
    flex:0 0 400px;
    margin-left: auto;
    position: relative;

    max-width: 75%;
    
    .screen {
            width: 100%;
    }

    .gear-1,.gear-2 {
        opacity: 0;
        position: absolute;

        
        width:20.5%;
        width:20.5%;
    }

    .gear-1{
        top:40%;
        left:34%;
    }

    .gear-2 {
        top:31.5%;
        left:52.5%;
    }
}