.overview {
    padding:$section-padding;
    display: grid;
    justify-items: center;


    .grid {
        width:90%;
        max-width:1700px;
        display: grid;
        // justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap:1.2rem;
        
    }

    // @include showBorder;

}




.about {

 
    * + * {
        margin:.65em 0 0;
    }
}

.skills {
    ul {
        width:80%;
        display:flex;
        flex-wrap:wrap;
        justify-content: flex-end;
        padding:.75rem 1.45rem;
        background:#c2b6b6;
        li {
            color:rgb(51, 51, 51);
            font-weight: 500;
            flex:1 0 50%;
            margin-bottom: .55em;
        }

        li:last-child,
        li:nth-last-child(2) {
            margin-bottom: 0;
        }

    }
}
