@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');

html[lang="en"]{
    font-family: 'Roboto', sans-serif;
}

html[lang="zh"]{
    font-family: 'Noto Sans TC', sans-serif;
}
html {
    overflow: auto;
    overflow-y: scroll;
    scroll-behavior: smooth;
    @include scrollbars(14px,$text-cl,$white-cl);
    

    font-size:13.5px;

    @include md {
        font-size:14.5px;
    }

    @include lg {
        font-size:16px;
    }

    @include xl {
        font-size:18px;
    }
}





body {
    width:100%;
    min-height: 100vh;
    background:$bg-cl;
    color:$text-cl;
    // overflow:hidden;


}

main {
    width:100%;
    overflow-x:hidden;
}
